<log4net>
  <root>
    <appender-ref ref="TraceLogAppender" />
  </root>

  <!-- Valid log "level" values are: "OFF", "FATAL", "ERROR", "WARN", "INFO", "DEBUG" and "ALL" -->

  <!-- Logs to trace listeners. e.g. DebugView -->
  <appender name="TraceLogAppender" type="log4net.Appender.TraceAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d{HH:mm:ss} [%thread] [%level] : %message%newline"/>
    </layout>
    <!--<filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch value="Put Text Here To Match" />
        <acceptOnMatch value="false" />
      </filter>-->
    <filter type="log4net.Filter.LevelRangeFilter">
      <param name="LevelMin" value="DEBUG"/>
      <param name="LevelMax" value="FATAL"/>
    </filter>
  </appender>

</log4net>