
html {
    /*background: url(images/background.jpg) no-repeat center center fixed;*/ 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.panel {
    margin:5px;
}

.mainEntry :invalid { 
  border-color: #e88;
  -webkit-box-shadow: 0 0 5px rgba(255, 0, 0, .8);
  -moz-box-shadow: 0 0 5px rbba(255, 0, 0, .8);
  -o-box-shadow: 0 0 5px rbba(255, 0, 0, .8);
  -ms-box-shadow: 0 0 5px rbba(255, 0, 0, .8);
  box-shadow:0 0 5px rgba(255, 0, 0, .8);
}

.mainEntry :required {
  border-color: #88a;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -o-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 255, .5);
  box-shadow: 0 0 5px rgba(0, 0, 255, .5);
}

#mainEntry input
#mainEntry select {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border:1px solid #ccc;
  font-size:18px;
  min-height:25px;
  margin-bottom:15px;
  margin-top:5px;
  outline: none;

  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  -o-border-radius:5px;
  -ms-border-radius:5px;
  border-radius:5px;
}


#mainEntry input[type=submit] {
  background:none;
  padding:10px;
}

.titleText {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:18px;
}

.check-with-label:checked + .label-for-check {
  font-weight: bold;
}

.normal-fontweight {
    font-weight: normal;
}

.reset-width {
    width: auto !important
}

.reset-display {
    display: inline !important
}

.default-input-num-width {
    width: 80px !important
}